body {
  background-color: #F0F8FF;
}

/** HEADER **/
#header-nav {
  background-color: #696969;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 {
  font-family: 'Raleway', serif;
  color: #D2691E;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5em;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #98FB98;
}
.navbar-header button.navbar-toggle {
  margin-top: -42px;
  clear: both;
}
/* END HEADER */

/* BODY */

.box {
      width: 97%;
      height: auto;
      padding: 5px auto;
      margin: 1%;
      background-color: #98FB98;
    }

h1 {
  font-size: 3em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: lighter;
}

.row {
  font-family: 'Raleway', sans-serif;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

p {
  font-size: 16px;
  display: block;
  text-align: justify;
}
